<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="js/jquery.min.js"></script>

    <script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
    <script src="js/utilidades.js"></script>

    <!-- Title -->
    <title>
        <% title %>

    </title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/styleP.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Search Form -->
        <div class="search-form d-flex align-items-center">
            <div class="container">
                <form action="index.html" method="get">
                    <input type="search" name="search-form-input" id="searchFormInput" placeholder="Type your keyword ...">
                    <button type="submit"><i class="icon_search"></i></button>
                </form>
            </div>
        </div>

        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="top-header-content">
                            <!-- <a href="#"><i class="icon_phone"></i> <span>(123) 456-789-1230</span></a>
                            <a href="#"><i class="icon_mail"></i> <span>info.colorlib@gmail.com</span></a>-->
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="top-header-content">
                            <!-- Top Social Area -->
                            <div class="top-social-area ml-auto">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="robertoNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/">
                            <nav>TURISMO</nav>
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="/">Principal</a></li>
                                    <% if(typeof usuario == 'undefined'){ %>
                                        <li><a href="/inicio_sesion">Inicio Sesion</a></li>
                                        <li><a href="/registrarse">Registrate</a></li>
                                        <%}else{%>
                                            <% if( usuario.rol == 'Administrador'){ %>
                                                <li><a href="#">Modulos</a>
                                                    <ul class="dropdown">
                                                        <li><a href="/sitios">- Sitios Turisticos</a></li>
                                                        <li><a href="#">- Mapas</a></li>
                                                        <li><a href="#">- Dropdown</a>
                                                            <ul class="dropdown">
                                                                <li><a href="#">- Dropdown Item</a></li>
                                                                <li><a href="#">- Dropdown Item</a></li>
                                                                <li><a href="#">- Dropdown Item</a></li>
                                                                <li><a href="#">- Dropdown Item</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <% } else if( usuario.rol == 'Usuario'){%>
                                                    <li><a href="#">Sitios Turisticos</a></li>
                                                    <% } %>
                                                        <li><a href="/cerrar_sesion">Cerrar Sesion</a></li>
                                                        <%}%>
                                </ul>

                                <!-- Search -->
                                <!-- <div class="search-btn ml-4">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>-->

                                <!-- Book Now -->
                                <!--<div class="book-now-btn ml-3 ml-lg-5">
                                    <a href="#">Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </div>-->
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Area Start -->
    <% if(typeof sesion == 'undefined' || !sesion){ %>
        <section class="welcome-area">
            <div class="welcome-slides owl-carousel">
                <!-- Single Welcome Slide -->
                <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/16.jpg);" data-img-url="img/bg-img/16.jpg">
                    <!-- Welcome Content -->
                    <div class="welcome-content h-100">
                        <div class="container h-100">
                            <div class="row h-100 align-items-center">
                                <!-- Welcome Text -->
                                <div class="col-12">
                                    <div class="welcome-text text-center">
                                        <h6 data-animation="fadeInLeft" data-delay="200ms">Hotel &amp; Resort</h6>
                                        <h2 data-animation="fadeInLeft" data-delay="500ms">Welcome To Roberto</h2>
                                        <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInLeft" data-delay="800ms">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Welcome Slide -->
                <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/17.jpg);" data-img-url="img/bg-img/17.jpg">
                    <!-- Welcome Content -->
                    <div class="welcome-content h-100">
                        <div class="container h-100">
                            <div class="row h-100 align-items-center">
                                <!-- Welcome Text -->
                                <div class="col-12">
                                    <div class="welcome-text text-center">
                                        <h6 data-animation="fadeInUp" data-delay="200ms">Hotel &amp; Resort</h6>
                                        <h2 data-animation="fadeInUp" data-delay="500ms">Welcome To Roberto</h2>
                                        <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInUp" data-delay="800ms">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Welcome Slide -->
                <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/18.jpg);" data-img-url="img/bg-img/18.jpg">
                    <!-- Welcome Content -->
                    <div class="welcome-content h-100">
                        <div class="container h-100">
                            <div class="row h-100 align-items-center">
                                <!-- Welcome Text -->
                                <div class="col-12">
                                    <div class="welcome-text text-center">
                                        <h6 data-animation="fadeInDown" data-delay="200ms">Hotel &amp; Resort</h6>
                                        <h2 data-animation="fadeInDown" data-delay="500ms">Welcome To Roberto</h2>
                                        <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInDown" data-delay="800ms">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Welcome Area End -->

        <!-- About Us Area Start -->
        <section class="roberto-about-area section-padding-100-0">
            <!-- Hotel Search Form Area -->
            <div class="hotel-search-form-area">
                <div class="container-fluid">
                    <div class="hotel-search-form">
                        <form action="#" method="post">
                            <div class="row justify-content-between align-items-end">
                                <div class="col-6 col-md-2 col-lg-3">
                                    <label for="checkIn">Check In</label>
                                    <input type="date" class="form-control" id="checkIn" name="checkin-date">
                                </div>
                                <div class="col-6 col-md-2 col-lg-3">
                                    <label for="checkOut">Check Out</label>
                                    <input type="date" class="form-control" id="checkOut" name="checkout-date">
                                </div>
                                <div class="col-4 col-md-1">
                                    <label for="room">Room</label>
                                    <select name="room" id="room" class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                </select>
                                </div>
                                <div class="col-4 col-md-1">
                                    <label for="adults">Adult</label>
                                    <select name="adults" id="adults" class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                </select>
                                </div>
                                <div class="col-4 col-md-2 col-lg-1">
                                    <label for="children">Children</label>
                                    <select name="children" id="children" class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                </select>
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="form-control btn roberto-btn w-100">Check Availability</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container mt-100">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- Section Heading -->
                        <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                            <h6>About Us</h6>
                            <h2>Welcome to <br>Roberto Hotel Luxury</h2>
                        </div>
                        <div class="about-us-content mb-100">
                            <h5 class="wow fadeInUp" data-wow-delay="300ms">With over 340 hotels worldwide, NH Hotel Group offers a wide variety of hotels catering for a perfect stay no matter where your destination.</h5>
                            <p class="wow fadeInUp" data-wow-delay="400ms">Manager: <span>Michen Taylor</span></p>
                            <img src="img/core-img/signature.png" alt="" class="wow fadeInUp" data-wow-delay="500ms">
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="single-thumb">
                                        <img src="img/bg-img/13.jpg" alt="">
                                    </div>
                                    <div class="single-thumb">
                                        <img src="img/bg-img/14.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-thumb">
                                        <img src="img/bg-img/15.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Area End -->

        <!-- Service Area Start -->
        <div class="roberto-service-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="service-content d-flex align-items-center justify-content-between">
                            <!-- Single Service Area -->
                            <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="100ms">
                                <img src="img/core-img/icon-1.png" alt="">
                                <h5>Transportion</h5>
                            </div>

                            <!-- Single Service Area -->
                            <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="300ms">
                                <img src="img/core-img/icon-2.png" alt="">
                                <h5>Reiseservice</h5>
                            </div>

                            <!-- Single Service Area -->
                            <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="500ms">
                                <img src="img/core-img/icon-3.png" alt="">
                                <h5>Spa Relaxtion</h5>
                            </div>

                            <!-- Single Service Area -->
                            <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="700ms">
                                <img src="img/core-img/icon-4.png" alt="">
                                <h5>Restaurant</h5>
                            </div>

                            <!-- Single Service Area -->
                            <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="900ms">
                                <img src="img/core-img/icon-1.png" alt="">
                                <h5>Bar &amp; Drink</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service Area End -->

        <!-- Our Room Area Start -->
        <section class="roberto-rooms-area">
            <div class="rooms-slides owl-carousel">
                <!-- Single Room Slide -->
                <div class="single-room-slide d-flex align-items-center">
                    <!-- Thumbnail -->
                    <div class="room-thumbnail h-100 bg-img" style="background-image: url(img/bg-img/16.jpg);"></div>

                    <!-- Content -->
                    <div class="room-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Premium King Room</h2>
                        <h3 data-animation="fadeInUp" data-delay="300ms">400$ <span>/ Day</span></h3>
                        <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                            <li><span><i class="fa fa-check"></i> Size</span> <span>: 30 ft</span></li>
                            <li><span><i class="fa fa-check"></i> Capacity</span> <span>: Max persion 5</span></li>
                            <li><span><i class="fa fa-check"></i> Bed</span> <span>: King Beds</span></li>
                            <li><span><i class="fa fa-check"></i> Services</span> <span>: Wifi, Television, Bathroom</span></li>
                        </ul>
                        <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">View Details</a>
                    </div>
                </div>

                <!-- Single Room Slide -->
                <div class="single-room-slide d-flex align-items-center">
                    <!-- Thumbnail -->
                    <div class="room-thumbnail h-100 bg-img" style="background-image: url(img/bg-img/17.jpg);"></div>

                    <!-- Content -->
                    <div class="room-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Best King Room</h2>
                        <h3 data-animation="fadeInUp" data-delay="300ms">125$ <span>/ Day</span></h3>
                        <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                            <li><span><i class="fa fa-check"></i> Size</span> <span>: 30 ft</span></li>
                            <li><span><i class="fa fa-check"></i> Capacity</span> <span>: Max persion 5</span></li>
                            <li><span><i class="fa fa-check"></i> Bed</span> <span>: King Beds</span></li>
                            <li><span><i class="fa fa-check"></i> Services</span> <span>: Wifi, Television, Bathroom</span></li>
                        </ul>
                        <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Room Area End -->

        <!-- Testimonials Area Start -->
        <section class="roberto-testimonials-area section-padding-100-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="testimonial-thumbnail owl-carousel mb-100">
                            <img src="img/bg-img/10.jpg" alt="">
                            <img src="img/bg-img/11.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <h6>Testimonials</h6>
                            <h2>Our Guests Love Us</h2>
                        </div>
                        <!-- Testimonial Slide -->
                        <div class="testimonial-slides owl-carousel mb-100">

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide">
                                <h5>“This can be achieved by applying search engine optimization or popularly known as SEO. This is a marketing strategy which increases the quality and quantity of traffic flow to a particular website via search engines.”</h5>
                                <div class="rating-title">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <h6>Robert Downey <span>- CEO Deercreative</span></h6>
                                </div>
                            </div>

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide">
                                <h5>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus delectus facilis molestias, error vitae praesentium quos eaque qui ea, tempore blanditiis sint reprehenderit, quaerat. Commodi ab architecto sit
                                    suscipit exercitationem!”
                                </h5>
                                <div class="rating-title">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <h6>Akash Downey <span>- CEO Deercreative</span></h6>
                                </div>
                            </div>

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide">
                                <h5>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, ex quos. Alias a rem maiores, possimus dicta sit distinctio quis iusto!”</h5>
                                <div class="rating-title">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <h6>Downey Sarah <span>- CEO Deercreative</span></h6>
                                </div>
                            </div>

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide">
                                <h5>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sequi laboriosam fugit suscipit aspernatur, minima minus voluptatum, id ab atque similique ex earum. Magni.”</h5>
                                <div class="rating-title">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <h6>Robert Brown <span>- CEO Deercreative</span></h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials Area End -->

        <!-- Projects Area Start -->
        <section class="roberto-project-area">
            <!-- Projects Slide -->
            <div class="projects-slides owl-carousel">
                <!-- Single Project Slide -->
                <div class="single-project-slide active bg-img" style="background-image: url(img/bg-img/5.jpg);">
                    <!-- Project Text -->
                    <div class="project-content">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                        </div>
                    </div>
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                            <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>

                <!-- Single Project Slide -->
                <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/6.jpg);">
                    <!-- Project Text -->
                    <div class="project-content">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                        </div>
                    </div>
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                            <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>

                <!-- Single Project Slide -->
                <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/7.jpg);">
                    <!-- Project Text -->
                    <div class="project-content">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                        </div>
                    </div>
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                            <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>

                <!-- Single Project Slide -->
                <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/8.jpg);">
                    <!-- Project Text -->
                    <div class="project-content">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                        </div>
                    </div>
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                            <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>

                <!-- Single Project Slide -->
                <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/9.jpg);">
                    <!-- Project Text -->
                    <div class="project-content">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                        </div>
                    </div>
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <div class="text">
                            <h6>Entertaiment</h6>
                            <h5>Racing Bike</h5>
                            <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects Area End -->

        <!-- Blog Area Start -->
        <section class="roberto-blog-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                            <h6>Our Blog</h6>
                            <h2>Latest News &amp; Event</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Single Post Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                            <a href="#" class="post-thumbnail"><img src="img/bg-img/2.jpg" alt=""></a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#" class="post-date">Jan 02, 2019</a>
                                <a href="#" class="post-catagory">Event</a>
                            </div>
                            <!-- Post Title -->
                            <a href="#" class="post-title">Learn How To Motivate Yourself</a>
                            <p>How many free autoresponders have you tried? And how many emails did you get through using them?</p>
                            <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Post Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <a href="#" class="post-thumbnail"><img src="img/bg-img/3.jpg" alt=""></a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#" class="post-date">Jan 02, 2019</a>
                                <a href="#" class="post-catagory">Event</a>
                            </div>
                            <!-- Post Title -->
                            <a href="#" class="post-title">What If Let You Run The Hubble</a>
                            <p>My point here is that if you have no clue for the answers above you probably are not operating a followup.</p>
                            <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Post Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                            <a href="#" class="post-thumbnail"><img src="img/bg-img/4.jpg" alt=""></a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#" class="post-date">Jan 02, 2019</a>
                                <a href="#" class="post-catagory">Event</a>
                            </div>
                            <!-- Post Title -->
                            <a href="#" class="post-title">Six Pack Abs The Big Picture</a>
                            <p>Some good steps to take to ensure you are getting what you need out of a autoresponder include…</p>
                            <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Blog Area End -->

        <!-- Call To Action Area Start -->
        <section class="roberto-cta-area">
            <div class="container">
                <div class="cta-content bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/1.jpg);">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-7">
                            <div class="cta-text mb-50">
                                <h2>Contact us now!</h2>
                                <h6>Contact (+12) 345-678-9999 to book directly or for advice</h6>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 text-right">
                            <a href="#" class="btn roberto-btn mb-50">Contact Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call To Action Area End -->

        <!-- Partner Area Start -->
        <div class="partner-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo"><img src="img/core-img/p1.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo"><img src="img/core-img/p2.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo"><img src="img/core-img/p3.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo"><img src="img/core-img/p4.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo"><img src="img/core-img/p5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%} else {%>
            <% if(typeof msg != 'undefined'){ %>
                <% if(msg.error != 'undefined' && msg.error != ''){ %>
                    <div class="alert alert-danger">
                        <%= msg.error %>
                    </div>
                    <% } %>
                        <% if(msg.info != 'undefined'&& msg.info != ''){ %>
                            <div class="alert alert-success">
                                <%= msg.info %>
                            </div>
                            <% } %>
                                <% } %>
                                    <%- include(fragmento); %>

                                        <%}%>
                                            <!-- Partner Area End -->

                                            <!-- Footer Area Start -->
                                            <footer class="footer-area section-padding-80-0">
                                                <!-- Main Footer Area -->
                                                <!-- Copywrite Area -->
                                                <div class="container">
                                                    <div class="copywrite-content">
                                                        <div class="row align-items-center">
                                                            <div class="col-12 col-md-8">
                                                                <!-- Copywrite Text -->
                                                                <div class="copywrite-text">
                                                                    <p>
                                                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                                        Copyright &copy;
                                                                        <script>
                                                                            document.write(new Date().getFullYear());
                                                                        </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-4">
                                                                <!-- Social Info -->
                                                                <div class="social-info">
                                                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                            <!-- Footer Area End -->
                                            <!-- Popper -->
                                            <script src="js/popper.min.js"></script>
                                            <!-- Bootstrap -->
                                            <script src="js/bootstrap.min.js"></script>
                                            <!-- All Plugins -->
                                            <script src="js/roberto.bundle.js"></script>
                                            <!-- Active -->
                                            <script src="js/default-assets/active.js"></script>
</body>

</html>