<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark">
                <div class="card-header text-white bg-dark">
                    <% title%>
                </div>
                <div class="card-body">
                    <a class="btn btn-success card-title" href="/Registro_Sitios">Nuevo</a>
                    <table class="table" id="tabla">
                        <thead>
                            <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Estado </th>
                                <th scope="col">Acciones </th>

                            </tr>
                        </thead>
                        <tbody id="tablatbody">
                            <% lista.forEach(function(item, index){%>
                                <tr>
                                    <td>
                                        <%= (index + 1 ) %>
                                    </td>
                                    <td>
                                        <%= item.nombre %>
                                    </td>
                                    <td>
                                        <%= item.categoria.nombre %>
                                    </td>
                                    <td>
                                        <%= item.estado %>
                                    </td>
                                    <td> Sin Acciones </td>
                                </tr>
                                <% }) %>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>>