<script>
    $(document).ready(function() {
        validaRegistro();
    })
</script>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark">
                <div class="card-header text-white bg-dark">
                    <% title%>
                </div>
                <div class="card-body">
                    <form id="form_registro" method="POST" action="/Registro_Sitios">
                        <div class="modal-body">
                            <input type="hidden" value="0" id="external" name="external" />
                            <div id="error"></div>


                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nombres:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingrese Nombre del Sitio">

                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Descripcion:</label>
                                <textarea type="text" class="form-control" name="descripcion" id="descripcion" rows="3" placeholder="Ingrese Alguna descripcion"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="col">
                                    <label for="recipient-name" class="col-form-label">Categoria:</label>

                                    <select name="categoria" id="categoria" class="categoria">
                                                    <% lista.forEach(function(item, index) { %>
                                                        <option value="<%= item.external_id %>"><%= item.nombre %></option>
                                                    
                                                        <% }) %>
                                                    </select>
                                </div>
                            </div>



                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-primary" id="guardar" name="guardar" data-dismiss="modal">Guardar</button>
                                <a href="/sitios" class="btn btn-danger">Regresar</a>
                            </div>
                            <!--<button type="button" class="btn btn-primary" id="actualizar" name="actualizar"  >actualizar</button>
                                -->
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>