<script>
    $(document).ready(function() {
        validacionInicio();
        $("#fecha").change(function() {
            var edad = calcularEdad($("#fecha").val());
            $("#edad").val(edad);

        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-12">

            <h2 class="title">
                <%= title%>
            </h2>

            <form id="form_sesion" method="POST" action="/inicio_sesion">
                <!--<span class="badge badge-danger">Inicio Sesion</span>-->
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo" aria-describedby="correoHelp" placeholder="Ingrese su correo" name="correo">
                </div>
                <div class="form-group">
                    <label for="contrasenia">Contraseña</label>
                    <input type="password" class="form-control" id="clave" placeholder="Contrasenia" name="clave">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Ingresar</button>
                    <a href="/" class="btn btn-danger">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>